body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* jost-regular - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/jost-v6-latin/jost-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/jost-v6-latin/jost-v6-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/jost-v6-latin/jost-v6-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/jost-v6-latin/jost-v6-latin-regular.woff') format('woff'),
    /* Modern Browsers */
      url('./fonts/jost-v6-latin/jost-v6-latin-regular.ttf') format('truetype');
}

/* amiri-regular - latin */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/amiri-v16-latin/amiri-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/amiri-v16-latin/amiri-v16-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/amiri-v16-latin/amiri-v16-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/amiri-v16-latin/amiri-v16-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/amiri-v16-latin/amiri-v16-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/amiri-v16-latin/amiri-v16-latin-regular.svg#Amiri')
      format('svg'); /* Legacy iOS */
}
