@font-face {
  font-family: 'Jost';
  src: local('Jost'), url('./fonts/Jost-Regular.woff') format('woff'),
    url('./fonts/Jost-Regular.woff2') format('woff2');
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Jost';
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
